.statistics{
width: 50%;
margin: 20px auto;
border: 2px solid #929292;
border-radius: 5px;
}
.title{
text-align: center;
text-transform: uppercase;
color: rgb(87, 86, 86);
}
.stat_list{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

}
.item{
    padding: 15px;
width: 20%;
display: flex;
flex-direction: column;
align-items: center;
color: #fff
;
}
.label{

}
.percentage{

}